[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
pillow = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-environ = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
